.card {
  width: 179px;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  
}

.cardimg {
  width: 179px;
  height: 170px;
  padding: 0;
}

.chips {
  /* width: 71px; */
  height: 23px;
  gap: 1px;
  border-radius: 10px;
  padding-inline: 8px;
  padding-block: 4px;
  white-space: no-wrap;
  margin-left: 4px;
}


